# **ESTADÍSTICAS SALUD GLOBAL**

Este conjunto de datos ofrece estadísticas sobre la salud global, con un enfoque en diversas enfermedades, tratamientos y resultados. Los datos abarcan múltiples países y años. Me gustaría hacer un análisis de estos datos para ver tipos de enfermedades por país y región del mundo y por sexo, teniendo también en cuenta el acceso a la Sanidad en cada uno de los países, dónde viven, y también hacer una comparativa por continentes.

**Country**: Nombre del país donde se registraron los datos de salud.

**Year**: Año en que se recopilaron los datos.

**Disease Name**: Nombre de la enfermedad o condición de salud analizada.

**Prevalence Rate (%)**: Porcentaje de la población afectada por la enfermedad.

**Incidence Rate (%)**: Porcentaje de casos nuevos o recién diagnosticados.

**Mortality Rate (%)**: Porcentaje de la población afectada que fallece a causa de la enfermedad.

**Age Group**: Rango de edad más afectado por la enfermedad.

**Gender:** Género(s) afectados por la enfermedad (Masculino, Femenino, Ambos).

**Population Affected**: Número total de personas afectadas por la enfermedad.

**Healthcare Access (%)**: Porcentaje de la población con acceso a servicios de salud.

**Doctors per 1000**: Número de médicos por cada 1000 habitantes.

**Average Treatment Cost (USD)**:Costo promedio del tratamiento en dólares estadounidenses.

**Availability of Vaccines/Treatment**: Disponibilidad de vacunas o tratamientos.

**Recovery Rate (%)**: Porcentaje de personas que se recuperan de la enfermedad.

**Per Capita Income (USD)**: Ingreso promedio por persona en el país.

**Education Index:** Nivel educativo promedio en el país.

**Urbanization Rate (%):** Porcentaje de la población que vive en zonas urbanas.

In [95]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [96]:
os.chdir(r"/content/sample_data/")
df = pd.read_csv("Global_Health_Statistics.csv")

In [97]:
df.head()

,Country,Year,Disease Name,Prevalence Rate (%),Incidence Rate (%),Mortality Rate (%),Age Group,Gender,Population Affected,Healthcare Access (%),Doctors per 1000,Hospital Beds per 1000,Treatment Type,Average Treatment Cost (USD),Availability of Vaccines/Treatment,Recovery Rate (%),Improvement in 5 Years (%),Per Capita Income (USD),Education Index,Urbanization Rate (%)
0,Italy,2013,Malaria,0.95,1.55,8.42,0-18,Male,471007,57.74,3.34,7.58,Medication,21064,No,91.82,2.16,16886,0.79,86.02
1,France,2002,Ebola,12.46,8.63,8.75,61+,Male,634318,89.21,1.33,5.11,Surgery,47851,Yes,76.65,4.82,80639,0.74,45.52
2,Turkey,2015,COVID-19,0.91,2.35,6.22,36-60,Male,154878,56.41,4.07,3.49,Vaccination,27834,Yes,98.55,5.81,12245,0.41,40.20
3,Indonesia,2011,Parkinson's Disease,4.68,6.29,3.99,0-18,Other,446224,85.20,3.18,8.44,Surgery,144,Yes,67.35,2.22,49336,0.49,58.47
4,Italy,2013,Tuberculosis,0.83,13.59,7.01,61+,Male,472908,67.00,4.61,5.90,Medication,8908,Yes,50.06,6.93,47701,0.50,48.14

Se revisa el tipo de datos del DF y si hay valores faltantes.

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 20 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   Country                             1000000 non-null  object
 1   Year                                1000000 non-null  int64
 2   Disease Name                        1000000 non-null  object
 3   Prevalence Rate (%)                 1000000 non-null  float64
 4   Incidence Rate (%)                  1000000 non-null  float64
 5   Mortality Rate (%)                  1000000 non-null  float64
 6   Age Group                           1000000 non-null  object
 7   Gender                              1000000 non-null  object
 8   Population Affected                 1000000 non-null  int64
 9   Healthcare Access (%)               1000000 non-null  float64
 10  Doctors per 1000                    1000000 non-null  float64
 11  Hospital Beds per 1000              1000000 non-null  float64
 12  Treatment Type                      1000000 non-null  object
 13  Average Treatment Cost (USD)        1000000 non-null  int64
 14  Availability of Vaccines/Treatment  1000000 non-null  object
 15  Recovery Rate (%)                   1000000 non-null  float64
 16  Improvement in 5 Years (%)          1000000 non-null  float64
 17  Per Capita Income (USD)             1000000 non-null  int64
 18  Education Index                     1000000 non-null  float64
 19  Urbanization Rate (%)               1000000 non-null  float64
dtypes: float64(10), int64(4), object(6)
memory usage: 152.6+ MB

No hay valores faltantes

Quito algunas columnas que no me sirven para mi análisis y así se trabaja con menos datos

In [77]:
df=df.drop("Availability of Vaccines/Treatment",axis=1)
df=df.drop("Improvement in 5 Years (%)",axis=1)
df=df.drop("Average Treatment Cost (USD)",axis=1)
df=df.drop("Hospital Beds per 1000", axis=1)
df=df.drop("Doctors per 1000", axis=1)

Reviso si los tipos de cada una de las variables son correctos, para corregirlo en caso de que no lo sean.

Primero quiero ver el tipo de enfermedades que se están analizando y dentro de la categoría de enfermedad qué enfermedades se contemplan.

In [78]:
df["Disease Name"].unique()

array(['Malaria', 'Ebola', 'COVID-19', "Parkinson's Disease",
       'Tuberculosis', 'Dengue', 'Rabies', 'Cholera', 'Leprosy', 'Cancer',
       'Diabetes', 'Measles', 'Zika', "Alzheimer's Disease", 'Polio',
       'Hypertension', 'Asthma', 'HIV/AIDS', 'Influenza', 'Hepatitis'],
      dtype=object)

Obtengo la cantidad de países reflejados en este estudio y cuáles son:

In [79]:
df["Country"].unique()

array(['Italy', 'France', 'Turkey', 'Indonesia', 'Saudi Arabia', 'USA',
       'Nigeria', 'Australia', 'Canada', 'Mexico', 'China',
       'South Africa', 'Japan', 'UK', 'Russia', 'Brazil', 'Germany',
       'India', 'Argentina', 'South Korea'], dtype=object)

In [80]:
df["Country"].nunique()

20

Son **20** países, 5 en Europa, 7 en Asia, 5 en América , 2 en África y 1 en Oceanía. Voy a hacer 5 listas agrupando los países por continente pero no sé si puedo sacar buenas conclusiones, ya que el continente africano no queda bien reflejado al no incluir a Egipto, que tiene una gran población y relevancia dentro del mismo.

Creo un diccionario con estos nuevos datos que quiero añadir:

In [99]:
continentes = {
    "USA": "América",
    "Canada": "América",
    "Mexico": "América",
    "Brazil": "América",
    "Argentina": "América",

    "Turkey": "Asia",
    "Indonesia": "Asia",
    "Saudi Arabia": "Asia",
    "China": "Asia",
    "Japan": "Asia",
    "India": "Asia",
    "South Korea": "Asia",
    "Russia": "Asia",


    "Germany": "Europa",
    "France": "Europa",
    "UK": "Europa",
    "Italy": "Europa",

    "South Africa": "África",
    "Nigeria": "África",

    "Australia": "Oceanía"
}
continentes

{'USA': 'América',
 'Canada': 'América',
 'Mexico': 'América',
 'Brazil': 'América',
 'Argentina': 'América',
 'Turkey': 'Asia',
 'Indonesia': 'Asia',
 'Saudi Arabia': 'Asia',
 'China': 'Asia',
 'Japan': 'Asia',
 'India': 'Asia',
 'South Korea': 'Asia',
 'Russia': 'Asia',
 'Germany': 'Europa',
 'France': 'Europa',
 'UK': 'Europa',
 'Italy': 'Europa',
 'South Africa': 'África',
 'Nigeria': 'África',
 'Australia': 'Oceanía'}

Creo un dataframe incluyendo los continentes con sus países correspondientes

In [100]:
df["Continente"] = df["Country"].map(continentes)

Obtengo los años en los que se realizó el estudio

In [83]:
df["Year"].unique()

array([2013, 2002, 2015, 2011, 2007, 2000, 2006, 2009, 2004, 2020, 2024,
       2001, 2019, 2014, 2021, 2010, 2003, 2022, 2005, 2008, 2017, 2023,
       2012, 2016, 2018])

In [84]:
anios_ordenados = sorted(df["Year"].unique())
anios_ordenados

[np.int64(2000),
 np.int64(2001),
 np.int64(2002),
 np.int64(2003),
 np.int64(2004),
 np.int64(2005),
 np.int64(2006),
 np.int64(2007),
 np.int64(2008),
 np.int64(2009),
 np.int64(2010),
 np.int64(2011),
 np.int64(2012),
 np.int64(2013),
 np.int64(2014),
 np.int64(2015),
 np.int64(2016),
 np.int64(2017),
 np.int64(2018),
 np.int64(2019),
 np.int64(2020),
 np.int64(2021),
 np.int64(2022),
 np.int64(2023),
 np.int64(2024)]

El estudio se ha realizado entre los años **2000 y 2024**

#**Enfermedades más comunes por población afectada**

In [134]:
enfermedades_mas_comunes = df.groupby("Disease Name")["Population Affected"].sum().sort_values(ascending=False)

print("Ranking de Enfermedades Más Comunes (por población afectada):\n")
for i, (disease, population) in enumerate(enfermedades_mas_comunes.items(), 1):
    print(f"{i}. {disease}: {population:,} personas")

Ranking de Enfermedades Más Comunes (por población afectada):

1. Zika: 25,307,554,082 personas
2. Cancer: 25,235,121,430 personas
3. Leprosy: 25,177,373,936 personas
4. Asthma: 25,146,142,810 personas
5. Dengue: 25,133,166,300 personas
6. COVID-19: 25,118,520,752 personas
7. HIV/AIDS: 25,101,603,480 personas
8. Influenza: 25,095,996,008 personas
9. Cholera: 25,086,966,699 personas
10. Diabetes: 25,069,386,449 personas
11. Alzheimer's Disease: 25,042,569,375 personas
12. Rabies: 25,034,142,572 personas
13. Malaria: 25,015,737,911 personas
14. Measles: 24,982,256,802 personas
15. Polio: 24,974,691,110 personas
16. Ebola: 24,905,002,514 personas
17. Hepatitis: 24,904,267,850 personas
18. Tuberculosis: 24,895,979,586 personas
19. Parkinson's Disease: 24,801,241,635 personas
20. Hypertension: 24,707,706,062 personas

La enfermedad con más población afectada a nivel mundial en este estudio es **ZIKA** con **25,307,554,082 personas**

#**Enfermedades por país con más número de población afectada**

In [137]:
for country in df["Country"].unique():
    subset = df[df["Country"] == country]
    top_disease = subset.loc[subset["Population Affected"].idxmax()]

    print(f"{country}: {top_disease['Disease Name']} ({top_disease['Population Affected']:,} personas)")

Italy: Ebola (999,993 personas)
France: Alzheimer's Disease (999,995 personas)
Turkey: Ebola (999,998 personas)
Indonesia: Parkinson's Disease (999,990 personas)
Saudi Arabia: Diabetes (999,963 personas)
USA: Hypertension (999,961 personas)
Nigeria: Cancer (999,994 personas)
Australia: Alzheimer's Disease (999,998 personas)
Canada: Ebola (999,970 personas)
Mexico: Rabies (999,993 personas)
China: Cancer (999,989 personas)
South Africa: Parkinson's Disease (999,991 personas)
Japan: Rabies (999,999 personas)
UK: Zika (999,999 personas)
Russia: HIV/AIDS (999,979 personas)
Brazil: Influenza (999,998 personas)
Germany: Cancer (999,967 personas)
India: Diabetes (999,945 personas)
Argentina: Asthma (1,000,000 personas)
South Korea: Asthma (999,978 personas)

Me llaman la atención varios datos:

*   Que en Italia , Turquía y Canadá la enfermedad con más casos sea Ébola.
*   Que en UK la enfermedad con más casos sea Zika.

#**Enfermedad más común por porcentaje de Prevalencia**

In [127]:
for country in df["Country"].unique():
    subset = df[df["Country"] == country]
    max_row = subset.loc[subset["Prevalence Rate (%)"].idxmax()]
    min_row = subset.loc[subset["Prevalence Rate (%)"].idxmin()]

    print(f"\n {country}")
    print(f"  Enfermedad más común: {max_row['Disease Name']} ({max_row['Prevalence Rate (%)']}%)")
    print(f"  Enfermedad menos común: {min_row['Disease Name']} ({min_row['Prevalence Rate (%)']}%)")

 Italy
  Enfermedad más común: Influenza (20.0%)
  Enfermedad menos común: Hypertension (0.1%)

 France
  Enfermedad más común: Dengue (20.0%)
  Enfermedad menos común: Cancer (0.1%)

 Turkey
  Enfermedad más común: Cholera (20.0%)
  Enfermedad menos común: COVID-19 (0.1%)

 Indonesia
  Enfermedad más común: Diabetes (20.0%)
  Enfermedad menos común: HIV/AIDS (0.1%)

 Saudi Arabia
  Enfermedad más común: Parkinson's Disease (20.0%)
  Enfermedad menos común: Hypertension (0.1%)

 USA
  Enfermedad más común: COVID-19 (20.0%)
  Enfermedad menos común: Dengue (0.1%)

 Nigeria
  Enfermedad más común: COVID-19 (20.0%)
  Enfermedad menos común: Leprosy (0.1%)

 Australia
  Enfermedad más común: Malaria (20.0%)
  Enfermedad menos común: Dengue (0.1%)

 Canada
  Enfermedad más común: Leprosy (20.0%)
  Enfermedad menos común: Tuberculosis (0.1%)

 Mexico
  Enfermedad más común: Diabetes (20.0%)
  Enfermedad menos común: Diabetes (0.1%)

 China
  Enfermedad más común: Influenza (20.0%)
  Enfermedad menos común: Leprosy (0.1%)

 South Africa
  Enfermedad más común: Dengue (20.0%)
  Enfermedad menos común: Tuberculosis (0.1%)

 Japan
  Enfermedad más común: Zika (20.0%)
  Enfermedad menos común: Ebola (0.1%)

 UK
  Enfermedad más común: Leprosy (20.0%)
  Enfermedad menos común: Leprosy (0.1%)

 Russia
  Enfermedad más común: Asthma (20.0%)
  Enfermedad menos común: Hepatitis (0.1%)

 Brazil
  Enfermedad más común: Parkinson's Disease (20.0%)
  Enfermedad menos común: Influenza (0.1%)

 Germany
  Enfermedad más común: Alzheimer's Disease (20.0%)
  Enfermedad menos común: Cancer (0.1%)

 India
  Enfermedad más común: Hepatitis (20.0%)
  Enfermedad menos común: HIV/AIDS (0.1%)

 Argentina
  Enfermedad más común: COVID-19 (20.0%)
  Enfermedad menos común: Rabies (0.1%)

 South Korea
  Enfermedad más común: Ebola (20.0%)
  Enfermedad menos común: Leprosy (0.1%)

#**Enfermedad más común por cantidad de Población Afectada**

In [130]:
for country in df["Country"].unique():
    subset = df[df["Country"] == country]
    max_row = subset.loc[subset["Population Affected"].idxmax()]
    min_row = subset.loc[subset["Population Affected"].idxmin()]

    print(f"\n {country}")
    print(f"  Más personas afectadas: {max_row['Disease Name']} ({max_row['Population Affected']:,} personas)")
    print(f"  Menos personas afectadas: {min_row['Disease Name']} ({min_row['Population Affected']:,} personas)")

 Italy
  Más personas afectadas: Ebola (999,993 personas)
  Menos personas afectadas: Leprosy (1,035 personas)

 France
  Más personas afectadas: Alzheimer's Disease (999,995 personas)
  Menos personas afectadas: Tuberculosis (1,014 personas)

 Turkey
  Más personas afectadas: Ebola (999,998 personas)
  Menos personas afectadas: Alzheimer's Disease (1,011 personas)

 Indonesia
  Más personas afectadas: Parkinson's Disease (999,990 personas)
  Menos personas afectadas: Ebola (1,003 personas)

 Saudi Arabia
  Más personas afectadas: Diabetes (999,963 personas)
  Menos personas afectadas: Cholera (1,008 personas)

 USA
  Más personas afectadas: Hypertension (999,961 personas)
  Menos personas afectadas: Cancer (1,000 personas)

 Nigeria
  Más personas afectadas: Cancer (999,994 personas)
  Menos personas afectadas: Measles (1,001 personas)

 Australia
  Más personas afectadas: Alzheimer's Disease (999,998 personas)
  Menos personas afectadas: Cancer (1,010 personas)

 Canada
  Más personas afectadas: Ebola (999,970 personas)
  Menos personas afectadas: Parkinson's Disease (1,004 personas)

 Mexico
  Más personas afectadas: Rabies (999,993 personas)
  Menos personas afectadas: Leprosy (1,052 personas)

 China
  Más personas afectadas: Cancer (999,989 personas)
  Menos personas afectadas: Cholera (1,003 personas)

 South Africa
  Más personas afectadas: Parkinson's Disease (999,991 personas)
  Menos personas afectadas: Polio (1,003 personas)

 Japan
  Más personas afectadas: Rabies (999,999 personas)
  Menos personas afectadas: Dengue (1,080 personas)

 UK
  Más personas afectadas: Zika (999,999 personas)
  Menos personas afectadas: Hepatitis (1,018 personas)

 Russia
  Más personas afectadas: HIV/AIDS (999,979 personas)
  Menos personas afectadas: HIV/AIDS (1,006 personas)

 Brazil
  Más personas afectadas: Influenza (999,998 personas)
  Menos personas afectadas: Rabies (1,019 personas)

 Germany
  Más personas afectadas: Cancer (999,967 personas)
  Menos personas afectadas: Ebola (1,001 personas)

 India
  Más personas afectadas: Diabetes (999,945 personas)
  Menos personas afectadas: Tuberculosis (1,001 personas)

 Argentina
  Más personas afectadas: Asthma (1,000,000 personas)
  Menos personas afectadas: Zika (1,007 personas)

 South Korea
  Más personas afectadas: Asthma (999,978 personas)
  Menos personas afectadas: Asthma (1,002 personas)

#**Población afectada por país , enfermedad y año**

In [140]:
enfermos_anio_pais_enfermedad = df.groupby(["Country", "Year", "Disease Name"])["Population Affected"].sum().reset_index()

print("Población afectada por país, año y enfermedad:\n")
print(enfermos_anio_pais_enfermedad)

Población afectada por país, año y enfermedad:

        Country  Year         Disease Name  Population Affected
0     Argentina  2000  Alzheimer's Disease             47370554
1     Argentina  2000               Asthma             47704791
2     Argentina  2000             COVID-19             49908299
3     Argentina  2000               Cancer             51015173
4     Argentina  2000              Cholera             47933525
...         ...   ...                  ...                  ...
9995        USA  2024  Parkinson's Disease             42966521
9996        USA  2024                Polio             46725978
9997        USA  2024               Rabies             56838441
9998        USA  2024         Tuberculosis             46766367
9999        USA  2024                 Zika             51144636

[10000 rows x 4 columns]

In [153]:
print("Enfermedad más común por año y país:\n")
grouped = df.groupby(["Country", "Year"])

for (country, year), group in grouped:
    top = group.loc[group["Population Affected"].idxmax()]
    print(f"{country} - {year}: {top['Disease Name']} ({top['Population Affected']:,} personas)")

Enfermedad más común por año y país:

Argentina - 2000: Alzheimer's Disease (999,739 personas)
Argentina - 2001: Tuberculosis (998,766 personas)
Argentina - 2002: Hypertension (999,733 personas)
Argentina - 2003: Tuberculosis (999,607 personas)
Argentina - 2004: Cholera (999,995 personas)
Argentina - 2005: Cholera (999,487 personas)
Argentina - 2006: HIV/AIDS (999,559 personas)
Argentina - 2007: COVID-19 (999,810 personas)
Argentina - 2008: Asthma (1,000,000 personas)
Argentina - 2009: Dengue (999,381 personas)
Argentina - 2010: Polio (999,330 personas)
Argentina - 2011: Diabetes (999,981 personas)
Argentina - 2012: Leprosy (999,896 personas)
Argentina - 2013: Parkinson's Disease (998,544 personas)
Argentina - 2014: Dengue (999,984 personas)
Argentina - 2015: Polio (999,930 personas)
Argentina - 2016: Asthma (999,767 personas)
Argentina - 2017: Cholera (999,600 personas)
Argentina - 2018: Parkinson's Disease (998,419 personas)
Argentina - 2019: Cancer (998,896 personas)
Argentina - 2020: Cancer (999,522 personas)
Argentina - 2021: COVID-19 (999,618 personas)
Argentina - 2022: Cancer (999,875 personas)
Argentina - 2023: Polio (999,960 personas)
Argentina - 2024: Measles (999,962 personas)
Australia - 2000: Alzheimer's Disease (999,987 personas)
Australia - 2001: Alzheimer's Disease (999,380 personas)
Australia - 2002: Malaria (999,509 personas)
Australia - 2003: Ebola (999,780 personas)
Australia - 2004: Polio (999,129 personas)
Australia - 2005: Parkinson's Disease (999,669 personas)
Australia - 2006: Alzheimer's Disease (999,998 personas)
Australia - 2007: COVID-19 (999,724 personas)
Australia - 2008: Malaria (999,931 personas)
Australia - 2009: HIV/AIDS (999,418 personas)
Australia - 2010: HIV/AIDS (998,564 personas)
Australia - 2011: Hypertension (999,412 personas)
Australia - 2012: Influenza (999,676 personas)
Australia - 2013: Cholera (999,702 personas)
Australia - 2014: Rabies (999,918 personas)
Australia - 2015: Influenza (999,031 personas)
Australia - 2016: Malaria (999,838 personas)
Australia - 2017: COVID-19 (999,886 personas)
Australia - 2018: Leprosy (999,954 personas)
Australia - 2019: HIV/AIDS (998,935 personas)
Australia - 2020: Rabies (999,972 personas)
Australia - 2021: COVID-19 (999,928 personas)
Australia - 2022: HIV/AIDS (999,829 personas)
Australia - 2023: COVID-19 (999,916 personas)
Australia - 2024: Hepatitis (998,007 personas)
Brazil - 2000: Influenza (999,982 personas)
Brazil - 2001: Tuberculosis (999,055 personas)
Brazil - 2002: Malaria (999,690 personas)
Brazil - 2003: Parkinson's Disease (999,150 personas)
Brazil - 2004: Tuberculosis (999,961 personas)
Brazil - 2005: Influenza (999,304 personas)
Brazil - 2006: Asthma (999,202 personas)
Brazil - 2007: Leprosy (999,605 personas)
Brazil - 2008: Ebola (999,908 personas)
Brazil - 2009: Cancer (999,628 personas)
Brazil - 2010: Tuberculosis (999,503 personas)
Brazil - 2011: Zika (999,905 personas)
Brazil - 2012: COVID-19 (999,735 personas)
Brazil - 2013: Alzheimer's Disease (999,776 personas)
Brazil - 2014: Alzheimer's Disease (999,386 personas)
Brazil - 2015: Cancer (999,930 personas)
Brazil - 2016: Tuberculosis (999,377 personas)
Brazil - 2017: Influenza (999,998 personas)
Brazil - 2018: Hypertension (999,104 personas)
Brazil - 2019: Ebola (999,944 personas)
Brazil - 2020: Influenza (999,885 personas)
Brazil - 2021: Parkinson's Disease (999,961 personas)
Brazil - 2022: Alzheimer's Disease (999,783 personas)
Brazil - 2023: Leprosy (999,627 personas)
Brazil - 2024: Hypertension (999,146 personas)
Canada - 2000: Ebola (999,970 personas)
Canada - 2001: Influenza (999,537 personas)
Canada - 2002: Tuberculosis (999,091 personas)
Canada - 2003: Hypertension (999,887 personas)
Canada - 2004: Tuberculosis (999,741 personas)
Canada - 2005: Hepatitis (999,924 personas)
Canada - 2006: Diabetes (998,686 personas)
Canada - 2007: Leprosy (999,244 personas)
Canada - 2008: Influenza (998,755 personas)
Canada - 2009: Leprosy (999,691 personas)
Canada - 2010: Malaria (999,109 personas)
Canada - 2011: Rabies (997,648 personas)
Canada - 2012: Hepatitis (999,475 personas)
Canada - 2013: Alzheimer's Disease (998,514 personas)
Canada - 2014: Zika (999,302 personas)
Canada - 2015: Ebola (998,879 personas)
Canada - 2016: Polio (999,646 personas)
Canada - 2017: Influenza (999,677 personas)
Canada - 2018: Hypertension (999,098 personas)
Canada - 2019: Alzheimer's Disease (999,418 personas)
Canada - 2020: Tuberculosis (999,203 personas)
Canada - 2021: Cholera (999,494 personas)
Canada - 2022: Hepatitis (998,489 personas)
Canada - 2023: Hypertension (998,945 personas)
Canada - 2024: Cancer (997,630 personas)
China - 2000: Cholera (999,603 personas)
China - 2001: Cancer (999,989 personas)
China - 2002: Parkinson's Disease (999,963 personas)
China - 2003: Parkinson's Disease (999,912 personas)
China - 2004: Tuberculosis (999,739 personas)
China - 2005: Cholera (999,688 personas)
China - 2006: Cancer (999,459 personas)
China - 2007: Rabies (998,739 personas)
China - 2008: Measles (999,382 personas)
China - 2009: Measles (999,786 personas)
China - 2010: Diabetes (999,196 personas)
China - 2011: Polio (999,415 personas)
China - 2012: Influenza (999,901 personas)
China - 2013: Leprosy (998,884 personas)
China - 2014: Alzheimer's Disease (999,752 personas)
China - 2015: Cholera (999,435 personas)
China - 2016: Cholera (998,750 personas)
China - 2017: Leprosy (999,572 personas)
China - 2018: Measles (999,936 personas)
China - 2019: Ebola (999,193 personas)
China - 2020: Parkinson's Disease (999,003 personas)
China - 2021: Ebola (999,957 personas)
China - 2022: Rabies (997,943 personas)
China - 2023: Diabetes (999,469 personas)
China - 2024: Polio (999,371 personas)
France - 2000: Zika (998,063 personas)
France - 2001: Malaria (999,206 personas)
France - 2002: Influenza (999,983 personas)
France - 2003: COVID-19 (999,221 personas)
France - 2004: Cancer (999,312 personas)
France - 2005: Hypertension (999,424 personas)
France - 2006: Asthma (999,072 personas)
France - 2007: Parkinson's Disease (998,709 personas)
France - 2008: Dengue (999,195 personas)
France - 2009: HIV/AIDS (998,931 personas)
France - 2010: Polio (999,952 personas)
France - 2011: Ebola (998,852 personas)
France - 2012: Tuberculosis (999,746 personas)
France - 2013: Asthma (998,466 personas)
France - 2014: Parkinson's Disease (999,542 personas)
France - 2015: Cholera (999,804 personas)
France - 2016: Hepatitis (999,736 personas)
France - 2017: Polio (999,984 personas)
France - 2018: Alzheimer's Disease (999,995 personas)
France - 2019: Alzheimer's Disease (999,679 personas)
France - 2020: COVID-19 (999,947 personas)
France - 2021: Zika (999,825 personas)
France - 2022: Malaria (998,659 personas)
France - 2023: Ebola (999,918 personas)
France - 2024: Measles (999,326 personas)
Germany - 2000: Parkinson's Disease (999,009 personas)
Germany - 2001: Leprosy (999,116 personas)
Germany - 2002: Zika (999,183 personas)
Germany - 2003: Tuberculosis (998,924 personas)
Germany - 2004: Tuberculosis (998,823 personas)
Germany - 2005: Influenza (999,650 personas)
Germany - 2006: Dengue (999,964 personas)
Germany - 2007: Hepatitis (999,804 personas)
Germany - 2008: Hypertension (999,800 personas)
Germany - 2009: Cholera (998,610 personas)
Germany - 2010: Influenza (999,826 personas)
Germany - 2011: Leprosy (999,027 personas)
Germany - 2012: Cancer (999,967 personas)
Germany - 2013: Parkinson's Disease (999,719 personas)
Germany - 2014: Hepatitis (999,566 personas)
Germany - 2015: Leprosy (999,917 personas)
Germany - 2016: Malaria (999,679 personas)
Germany - 2017: Cholera (999,630 personas)
Germany - 2018: Alzheimer's Disease (999,919 personas)
Germany - 2019: COVID-19 (999,585 personas)
Germany - 2020: Alzheimer's Disease (999,746 personas)
Germany - 2021: Polio (999,601 personas)
Germany - 2022: Measles (999,930 personas)
Germany - 2023: Diabetes (998,135 personas)
Germany - 2024: Ebola (998,852 personas)
India - 2000: Ebola (999,154 personas)
India - 2001: Tuberculosis (999,859 personas)
India - 2002: Influenza (999,245 personas)
India - 2003: Leprosy (999,696 personas)
India - 2004: Polio (999,048 personas)
India - 2005: Parkinson's Disease (999,894 personas)
India - 2006: Alzheimer's Disease (999,722 personas)
India - 2007: Alzheimer's Disease (999,602 personas)
India - 2008: Diabetes (997,464 personas)
India - 2009: Dengue (999,781 personas)
India - 2010: COVID-19 (999,918 personas)
India - 2011: Measles (998,596 personas)
India - 2012: Tuberculosis (999,231 personas)
India - 2013: Zika (999,731 personas)
India - 2014: Diabetes (999,945 personas)
India - 2015: Dengue (999,678 personas)
India - 2016: Tuberculosis (999,603 personas)
India - 2017: Parkinson's Disease (999,936 personas)
India - 2018: Influenza (999,859 personas)
India - 2019: Cancer (998,942 personas)
India - 2020: Zika (999,835 personas)
India - 2021: Rabies (999,763 personas)
India - 2022: Influenza (998,735 personas)
India - 2023: Tuberculosis (999,487 personas)
India - 2024: Dengue (999,855 personas)
Indonesia - 2000: Influenza (999,664 personas)
Indonesia - 2001: Polio (999,955 personas)
Indonesia - 2002: Polio (999,585 personas)
Indonesia - 2003: Polio (999,973 personas)
Indonesia - 2004: Cancer (999,985 personas)
Indonesia - 2005: Influenza (999,652 personas)
Indonesia - 2006: Zika (999,200 personas)
Indonesia - 2007: Cholera (999,958 personas)
Indonesia - 2008: Leprosy (999,839 personas)
Indonesia - 2009: Dengue (999,952 personas)
Indonesia - 2010: Cholera (999,914 personas)
Indonesia - 2011: COVID-19 (998,269 personas)
Indonesia - 2012: Ebola (998,866 personas)
Indonesia - 2013: Parkinson's Disease (999,990 personas)
Indonesia - 2014: Asthma (999,798 personas)
Indonesia - 2015: Diabetes (998,803 personas)
Indonesia - 2016: Influenza (999,173 personas)
Indonesia - 2017: Zika (999,621 personas)
Indonesia - 2018: Tuberculosis (999,769 personas)
Indonesia - 2019: Cholera (998,833 personas)
Indonesia - 2020: HIV/AIDS (999,715 personas)
Indonesia - 2021: COVID-19 (999,967 personas)
Indonesia - 2022: Ebola (999,838 personas)
Indonesia - 2023: Cancer (999,373 personas)
Indonesia - 2024: Cholera (999,084 personas)
Italy - 2000: HIV/AIDS (999,203 personas)
Italy - 2001: Hepatitis (999,986 personas)
Italy - 2002: Asthma (998,811 personas)
Italy - 2003: COVID-19 (999,973 personas)
Italy - 2004: HIV/AIDS (999,148 personas)
Italy - 2005: Malaria (999,126 personas)
Italy - 2006: Malaria (999,533 personas)
Italy - 2007: Alzheimer's Disease (999,490 personas)
Italy - 2008: Cancer (999,142 personas)
Italy - 2009: Asthma (999,951 personas)
Italy - 2010: Dengue (999,716 personas)
Italy - 2011: Alzheimer's Disease (999,875 personas)
Italy - 2012: Influenza (999,125 personas)
Italy - 2013: Ebola (999,993 personas)
Italy - 2014: Hepatitis (999,497 personas)
Italy - 2015: HIV/AIDS (999,867 personas)
Italy - 2016: Zika (999,745 personas)
Italy - 2017: Asthma (999,920 personas)
Italy - 2018: Cancer (999,984 personas)
Italy - 2019: Hepatitis (999,431 personas)
Italy - 2020: Cholera (999,207 personas)
Italy - 2021: Measles (999,801 personas)
Italy - 2022: Hypertension (999,490 personas)
Italy - 2023: COVID-19 (999,718 personas)
Italy - 2024: Diabetes (999,751 personas)
Japan - 2000: Hepatitis (998,393 personas)
Japan - 2001: Cholera (999,953 personas)
Japan - 2002: Dengue (999,181 personas)
Japan - 2003: Rabies (999,999 personas)
Japan - 2004: Leprosy (998,144 personas)
Japan - 2005: Cholera (999,879 personas)
Japan - 2006: Parkinson's Disease (999,464 personas)
Japan - 2007: Diabetes (999,105 personas)
Japan - 2008: Malaria (998,739 personas)
Japan - 2009: Polio (998,805 personas)
Japan - 2010: Influenza (998,908 personas)
Japan - 2011: Cholera (999,761 personas)
Japan - 2012: Leprosy (999,766 personas)
Japan - 2013: HIV/AIDS (997,759 personas)
Japan - 2014: Cancer (997,055 personas)
Japan - 2015: COVID-19 (999,560 personas)
Japan - 2016: HIV/AIDS (999,783 personas)
Japan - 2017: Influenza (999,832 personas)
Japan - 2018: Diabetes (997,679 personas)
Japan - 2019: Rabies (999,810 personas)
Japan - 2020: Diabetes (999,745 personas)
Japan - 2021: COVID-19 (999,645 personas)
Japan - 2022: Hepatitis (999,559 personas)
Japan - 2023: Leprosy (999,874 personas)
Japan - 2024: Zika (998,961 personas)
Mexico - 2000: Parkinson's Disease (999,589 personas)
Mexico - 2001: Ebola (998,976 personas)
Mexico - 2002: Diabetes (998,668 personas)
Mexico - 2003: Hypertension (999,865 personas)
Mexico - 2004: Alzheimer's Disease (999,675 personas)
Mexico - 2005: Tuberculosis (999,617 personas)
Mexico - 2006: Asthma (999,571 personas)
Mexico - 2007: Measles (999,519 personas)
Mexico - 2008: Zika (999,760 personas)
Mexico - 2009: Measles (999,725 personas)
Mexico - 2010: Influenza (999,624 personas)
Mexico - 2011: Zika (999,517 personas)
Mexico - 2012: Rabies (999,993 personas)
Mexico - 2013: Leprosy (999,798 personas)
Mexico - 2014: Malaria (999,965 personas)
Mexico - 2015: Ebola (999,669 personas)
Mexico - 2016: Diabetes (999,839 personas)
Mexico - 2017: Zika (998,626 personas)
Mexico - 2018: Polio (999,756 personas)
Mexico - 2019: Parkinson's Disease (999,687 personas)
Mexico - 2020: Tuberculosis (999,032 personas)
Mexico - 2021: Polio (999,915 personas)
Mexico - 2022: Malaria (999,033 personas)
Mexico - 2023: Diabetes (999,640 personas)
Mexico - 2024: Dengue (999,697 personas)
Nigeria - 2000: Tuberculosis (998,674 personas)
Nigeria - 2001: Influenza (999,499 personas)
Nigeria - 2002: Cholera (999,534 personas)
Nigeria - 2003: Influenza (999,860 personas)
Nigeria - 2004: Malaria (999,639 personas)
Nigeria - 2005: Polio (999,939 personas)
Nigeria - 2006: Alzheimer's Disease (999,775 personas)
Nigeria - 2007: Ebola (999,013 personas)
Nigeria - 2008: Measles (999,973 personas)
Nigeria - 2009: Parkinson's Disease (999,614 personas)
Nigeria - 2010: Parkinson's Disease (999,660 personas)
Nigeria - 2011: Influenza (999,952 personas)
Nigeria - 2012: Tuberculosis (997,606 personas)
Nigeria - 2013: Zika (999,702 personas)
Nigeria - 2014: Malaria (997,858 personas)
Nigeria - 2015: Parkinson's Disease (999,546 personas)
Nigeria - 2016: COVID-19 (999,975 personas)
Nigeria - 2017: Hypertension (999,896 personas)
Nigeria - 2018: Hepatitis (999,807 personas)
Nigeria - 2019: Diabetes (999,378 personas)
Nigeria - 2020: Diabetes (999,474 personas)
Nigeria - 2021: Cancer (999,994 personas)
Nigeria - 2022: Influenza (999,753 personas)
Nigeria - 2023: Cholera (998,838 personas)
Nigeria - 2024: Ebola (998,837 personas)
Russia - 2000: Influenza (999,774 personas)
Russia - 2001: HIV/AIDS (999,979 personas)
Russia - 2002: Ebola (999,867 personas)
Russia - 2003: Polio (998,861 personas)
Russia - 2004: Rabies (999,777 personas)
Russia - 2005: Tuberculosis (999,186 personas)
Russia - 2006: HIV/AIDS (999,213 personas)
Russia - 2007: Parkinson's Disease (998,862 personas)
Russia - 2008: Alzheimer's Disease (999,320 personas)
Russia - 2009: Alzheimer's Disease (999,891 personas)
Russia - 2010: Polio (999,086 personas)
Russia - 2011: Ebola (999,749 personas)
Russia - 2012: Asthma (999,825 personas)
Russia - 2013: Hepatitis (999,970 personas)
Russia - 2014: Cancer (999,539 personas)
Russia - 2015: Dengue (999,920 personas)
Russia - 2016: Dengue (999,513 personas)
Russia - 2017: Cholera (999,289 personas)
Russia - 2018: Asthma (999,941 personas)
Russia - 2019: Parkinson's Disease (999,806 personas)
Russia - 2020: Cholera (999,601 personas)
Russia - 2021: Rabies (999,962 personas)
Russia - 2022: Leprosy (999,488 personas)
Russia - 2023: Diabetes (999,455 personas)
Russia - 2024: Polio (999,791 personas)
Saudi Arabia - 2000: Hepatitis (999,823 personas)
Saudi Arabia - 2001: Alzheimer's Disease (999,548 personas)
Saudi Arabia - 2002: Cancer (998,353 personas)
Saudi Arabia - 2003: Leprosy (999,678 personas)
Saudi Arabia - 2004: Cholera (999,861 personas)
Saudi Arabia - 2005: Ebola (999,555 personas)
Saudi Arabia - 2006: COVID-19 (999,079 personas)
Saudi Arabia - 2007: Malaria (999,829 personas)
Saudi Arabia - 2008: Hypertension (999,504 personas)
Saudi Arabia - 2009: Polio (999,786 personas)
Saudi Arabia - 2010: Ebola (999,184 personas)
Saudi Arabia - 2011: Leprosy (999,399 personas)
Saudi Arabia - 2012: Parkinson's Disease (999,406 personas)
Saudi Arabia - 2013: Diabetes (999,963 personas)
Saudi Arabia - 2014: HIV/AIDS (999,590 personas)
Saudi Arabia - 2015: Hypertension (999,928 personas)
Saudi Arabia - 2016: Zika (999,833 personas)
Saudi Arabia - 2017: Ebola (999,571 personas)
Saudi Arabia - 2018: Influenza (999,856 personas)
Saudi Arabia - 2019: Influenza (999,394 personas)
Saudi Arabia - 2020: Alzheimer's Disease (999,322 personas)
Saudi Arabia - 2021: Measles (998,228 personas)
Saudi Arabia - 2022: Diabetes (999,667 personas)
Saudi Arabia - 2023: Leprosy (999,937 personas)
Saudi Arabia - 2024: HIV/AIDS (999,322 personas)
South Africa - 2000: Diabetes (999,544 personas)
South Africa - 2001: Leprosy (999,012 personas)
South Africa - 2002: Hepatitis (999,683 personas)
South Africa - 2003: Hypertension (999,604 personas)
South Africa - 2004: Asthma (998,778 personas)
South Africa - 2005: COVID-19 (999,845 personas)
South Africa - 2006: Measles (999,303 personas)
South Africa - 2007: Tuberculosis (999,885 personas)
South Africa - 2008: Tuberculosis (999,711 personas)
South Africa - 2009: Ebola (998,629 personas)
South Africa - 2010: Cholera (999,921 personas)
South Africa - 2011: Ebola (999,770 personas)
South Africa - 2012: Tuberculosis (998,988 personas)
South Africa - 2013: Zika (999,905 personas)
South Africa - 2014: Polio (999,860 personas)
South Africa - 2015: HIV/AIDS (998,262 personas)
South Africa - 2016: Parkinson's Disease (999,991 personas)
South Africa - 2017: Cancer (999,969 personas)
South Africa - 2018: HIV/AIDS (999,826 personas)
South Africa - 2019: Dengue (999,723 personas)
South Africa - 2020: Cholera (999,573 personas)
South Africa - 2021: Asthma (999,765 personas)
South Africa - 2022: Cholera (999,867 personas)
South Africa - 2023: Diabetes (999,326 personas)
South Africa - 2024: Cancer (999,754 personas)
South Korea - 2000: Cholera (997,975 personas)
South Korea - 2001: Ebola (999,913 personas)
South Korea - 2002: Ebola (999,085 personas)
South Korea - 2003: Measles (999,641 personas)
South Korea - 2004: Cholera (999,975 personas)
South Korea - 2005: Measles (999,586 personas)
South Korea - 2006: Tuberculosis (999,210 personas)
South Korea - 2007: Diabetes (999,615 personas)
South Korea - 2008: Diabetes (999,703 personas)
South Korea - 2009: Cancer (999,935 personas)
South Korea - 2010: Cancer (998,844 personas)
South Korea - 2011: Influenza (999,199 personas)
South Korea - 2012: Diabetes (999,555 personas)
South Korea - 2013: Alzheimer's Disease (999,402 personas)
South Korea - 2014: Leprosy (999,464 personas)
South Korea - 2015: Cancer (999,966 personas)
South Korea - 2016: Alzheimer's Disease (999,542 personas)
South Korea - 2017: Ebola (998,802 personas)
South Korea - 2018: Hepatitis (999,645 personas)
South Korea - 2019: HIV/AIDS (999,811 personas)
South Korea - 2020: Asthma (999,978 personas)
South Korea - 2021: Asthma (999,838 personas)
South Korea - 2022: Tuberculosis (999,833 personas)
South Korea - 2023: Parkinson's Disease (998,300 personas)
South Korea - 2024: Polio (999,921 personas)
Turkey - 2000: Cancer (999,440 personas)
Turkey - 2001: Asthma (999,136 personas)
Turkey - 2002: Cancer (999,593 personas)
Turkey - 2003: Hepatitis (999,924 personas)
Turkey - 2004: Malaria (999,166 personas)
Turkey - 2005: Alzheimer's Disease (999,870 personas)
Turkey - 2006: Leprosy (999,807 personas)
Turkey - 2007: Hepatitis (999,976 personas)
Turkey - 2008: Diabetes (999,752 personas)
Turkey - 2009: Influenza (999,846 personas)
Turkey - 2010: Rabies (999,558 personas)
Turkey - 2011: Zika (999,847 personas)
Turkey - 2012: Parkinson's Disease (999,729 personas)
Turkey - 2013: Diabetes (999,775 personas)
Turkey - 2014: Cholera (999,935 personas)
Turkey - 2015: Diabetes (999,080 personas)

#**Enfermedades más comunes por género** :
Voy a analizar qué **enfermedades** afectan más a **mujeres** y cuáles a **hombres** y a una tercera categoría llamada **other** ,teniendo en cuenta estos datos.

In [142]:
enfermedad_sexo_poblacion = df.groupby(["Gender", "Disease Name"])["Population Affected"].sum().reset_index()

print("Enfermedades más comunes por género:\n")
for gender in enfermedad_sexo_poblacion["Gender"].unique():
    subset = enfermedad_sexo_poblacion[enfermedad_sexo_poblacion["Gender"] == gender]
    top = subset.loc[subset["Population Affected"].idxmax()]
    print(f"{gender}: {top['Disease Name']} ({top['Population Affected']:,} personas)")

Enfermedades más comunes por género:

Female: Zika (8,448,262,662 personas)
Male: Leprosy (8,532,327,840 personas)
Other: HIV/AIDS (8,444,815,364 personas)

Zika es la enfermedad más común en mujeres, Lepra en hombres y HIV en categoría other. Me sorprende un poco que la lepra sea la enfermedad más común en hombres así que voy a analizar más la incidencia de esta enfermedad y dónde es más habitual.

#**Incidencia de la Lepra en el mundo teniendo en cuenta el porcentaje de Urbanización y el índice de Educación**

In [145]:
df_lepra = df[df["Disease Name"] == "Leprosy"]

df_sorted = df_lepra.sort_values(by="Prevalence Rate (%)", ascending=False)

#top_countries = df_sorted[["Country", "Prevalence Rate (%)", "Urbanization Rate (%)"]]
top_countries = df_sorted[["Country", "Prevalence Rate (%)", "Urbanization Rate (%)", "Education Index"]]

print(top_countries.head(10).to_string(index=False))

    Country  Prevalence Rate (%)  Urbanization Rate (%)  Education Index
    Nigeria                20.00                  23.25             0.80
     Mexico                20.00                  24.54             0.82
      Italy                20.00                  81.42             0.88
     Russia                20.00                  24.85             0.82
      India                20.00                  85.93             0.86
         UK                20.00                  38.65             0.85
South Korea                20.00                  41.08             0.62
     Brazil                20.00                  85.95             0.52
     Canada                20.00                  80.67             0.60
     Russia                19.99                  58.19             0.73

De los países donde la prevalencia es más alta, veo que están Italia y UK que no me cuadra en absoluto.

Sigo analizando los datos aunque no sean reales y por tanto las conclusiones obtenidas buenas.

#**Enfermedades con mayor tasa de mortalidad por país y grupo de edad**

In [148]:
print("Enfermedades con mayor tasa de mortalidad por país y grupo de edad:\n")
for country in df["Country"].unique():
    country_data = df[df["Country"] == country]

    # Para cada grupo de edad dentro del país
    for age_group in country_data["Age Group"].unique():
        subset = country_data[country_data["Age Group"] == age_group]
        if not subset.empty:
            top = subset.loc[subset["Mortality Rate (%)"].idxmax()]
            print(f"{country} | Edad: {age_group} → {top['Disease Name']} ({top['Mortality Rate (%)']}%)")

Enfermedades con mayor tasa de mortalidad por país y grupo de edad:

Italy | Edad: 0-18 → Cancer (10.0%)
Italy | Edad: 61+ → Measles (10.0%)
Italy | Edad: 19-35 → Leprosy (10.0%)
Italy | Edad: 36-60 → Rabies (10.0%)
France | Edad: 61+ → Leprosy (10.0%)
France | Edad: 19-35 → Hepatitis (10.0%)
France | Edad: 0-18 → Hepatitis (10.0%)
France | Edad: 36-60 → Leprosy (10.0%)
Turkey | Edad: 36-60 → Alzheimer's Disease (10.0%)
Turkey | Edad: 19-35 → Ebola (10.0%)
Turkey | Edad: 0-18 → Diabetes (10.0%)
Turkey | Edad: 61+ → Hepatitis (10.0%)
Indonesia | Edad: 0-18 → Asthma (10.0%)
Indonesia | Edad: 36-60 → Asthma (10.0%)
Indonesia | Edad: 19-35 → Rabies (10.0%)
Indonesia | Edad: 61+ → Polio (10.0%)
Saudi Arabia | Edad: 61+ → Cancer (10.0%)
Saudi Arabia | Edad: 0-18 → Cancer (10.0%)
Saudi Arabia | Edad: 36-60 → Cholera (10.0%)
Saudi Arabia | Edad: 19-35 → Polio (10.0%)
USA | Edad: 61+ → Tuberculosis (10.0%)
USA | Edad: 36-60 → Tuberculosis (10.0%)
USA | Edad: 0-18 → Hypertension (10.0%)
USA | Edad: 19-35 → Zika (10.0%)
Nigeria | Edad: 0-18 → Leprosy (10.0%)
Nigeria | Edad: 36-60 → Asthma (10.0%)
Nigeria | Edad: 19-35 → Leprosy (10.0%)
Nigeria | Edad: 61+ → Diabetes (10.0%)
Australia | Edad: 61+ → Hypertension (10.0%)
Australia | Edad: 19-35 → Diabetes (10.0%)
Australia | Edad: 0-18 → Tuberculosis (10.0%)
Australia | Edad: 36-60 → Asthma (10.0%)
Canada | Edad: 36-60 → Tuberculosis (10.0%)
Canada | Edad: 61+ → HIV/AIDS (10.0%)
Canada | Edad: 0-18 → Rabies (10.0%)
Canada | Edad: 19-35 → Malaria (10.0%)
Mexico | Edad: 0-18 → Zika (10.0%)
Mexico | Edad: 36-60 → Measles (10.0%)
Mexico | Edad: 61+ → Cancer (10.0%)
Mexico | Edad: 19-35 → Leprosy (10.0%)
China | Edad: 36-60 → Polio (10.0%)
China | Edad: 19-35 → Influenza (10.0%)
China | Edad: 61+ → Ebola (10.0%)
China | Edad: 0-18 → COVID-19 (10.0%)
South Africa | Edad: 61+ → Asthma (10.0%)
South Africa | Edad: 0-18 → Parkinson's Disease (10.0%)
South Africa | Edad: 36-60 → Malaria (10.0%)
South Africa | Edad: 19-35 → Dengue (10.0%)
Japan | Edad: 19-35 → Malaria (10.0%)
Japan | Edad: 0-18 → Cholera (10.0%)
Japan | Edad: 36-60 → Hepatitis (10.0%)
Japan | Edad: 61+ → Hypertension (10.0%)
UK | Edad: 0-18 → Polio (10.0%)
UK | Edad: 61+ → Malaria (10.0%)
UK | Edad: 19-35 → Ebola (10.0%)
UK | Edad: 36-60 → Rabies (10.0%)
Russia | Edad: 36-60 → Measles (10.0%)
Russia | Edad: 0-18 → Dengue (10.0%)
Russia | Edad: 61+ → Dengue (10.0%)
Russia | Edad: 19-35 → Leprosy (10.0%)
Brazil | Edad: 61+ → Measles (10.0%)
Brazil | Edad: 0-18 → Rabies (10.0%)
Brazil | Edad: 19-35 → Rabies (10.0%)
Brazil | Edad: 36-60 → Asthma (10.0%)
Germany | Edad: 61+ → Parkinson's Disease (10.0%)
Germany | Edad: 19-35 → Hepatitis (10.0%)
Germany | Edad: 36-60 → Tuberculosis (10.0%)
Germany | Edad: 0-18 → Cancer (10.0%)
India | Edad: 0-18 → COVID-19 (10.0%)
India | Edad: 36-60 → Polio (10.0%)
India | Edad: 19-35 → Parkinson's Disease (10.0%)
India | Edad: 61+ → Zika (10.0%)
Argentina | Edad: 61+ → HIV/AIDS (10.0%)
Argentina | Edad: 0-18 → Hepatitis (10.0%)
Argentina | Edad: 19-35 → Alzheimer's Disease (10.0%)
Argentina | Edad: 36-60 → Zika (10.0%)
South Korea | Edad: 36-60 → Ebola (10.0%)
South Korea | Edad: 0-18 → Asthma (10.0%)
South Korea | Edad: 61+ → Hepatitis (10.0%)
South Korea | Edad: 19-35 → Dengue (10.0%)

Saco las enfermedades más comunes por país por rango de edad. Para ello, habría que ir eligiendo el país:

In [154]:
pais = "Argentina"
df_pais = df[df["Country"] == pais]

print(f"Enfermedad más común por rango de edad en {pais}:\n")
for age_group in df_pais["Age Group"].unique():
    subset = df_pais[df_pais["Age Group"] == age_group]
    top = subset.loc[subset["Population Affected"].idxmax()]
    print(f"Edad {age_group}: {top['Disease Name']} ({top['Population Affected']:,} personas)")

Enfermedad más común por rango de edad en Argentina:

Edad 61+: Measles (999,962 personas)
Edad 0-18: Asthma (1,000,000 personas)
Edad 19-35: Cholera (999,995 personas)
Edad 36-60: Diabetes (999,775 personas)

#**Enfermedades con mayor tasa de mortalidad por país y enfermedad**

In [147]:
enfermedad_tasamortalidad_pais = df.groupby(["Country", "Disease Name"])["Mortality Rate (%)"].mean().reset_index()
sorted_group = enfermedad_tasamortalidad_pais.sort_values(by=["Country", "Mortality Rate (%)"], ascending=[True, False])
print("Enfermedades con mayor tasa de mortalidad por país:\n")
for country in sorted_group["Country"].unique():
    subset = sorted_group[sorted_group["Country"] == country]
    top = subset.iloc[0]  # enfermedad con mayor mortalidad en ese país
    print(f"{country}: {top['Disease Name']} ({top['Mortality Rate (%)']}%)")

Enfermedades con mayor tasa de mortalidad por país:

Argentina: Diabetes (5.127741670094611%)
Australia: HIV/AIDS (5.138639618138425%)
Brazil: COVID-19 (5.179767061708214%)
Canada: Rabies (5.151473895582329%)
China: Asthma (5.184743019020639%)
France: Parkinson's Disease (5.1708602150537635%)
Germany: Asthma (5.188142119888845%)
India: Leprosy (5.2024929859719435%)
Indonesia: Parkinson's Disease (5.152597077244258%)
Italy: Alzheimer's Disease (5.204165998396151%)
Japan: Hepatitis (5.155308896210873%)
Mexico: Tuberculosis (5.166148538961039%)
Nigeria: COVID-19 (5.220434439178515%)
Russia: Cancer (5.163564705882353%)
Saudi Arabia: Asthma (5.141629802095459%)
South Africa: Zika (5.097000400480576%)
South Korea: Parkinson's Disease (5.164582329317269%)
Turkey: Zika (5.157434959349594%)
UK: Measles (5.190866471326915%)
USA: Rabies (5.126278225806452%)

#**Recuperación Promedio**

In [112]:
recuperacion_promedio = df.groupby("Country")["Recovery Rate (%)"].mean()
print(recuperacion_promedio)

Country
Argentina       74.529121
Australia       74.492637
Brazil          74.400868
Canada          74.512061
China           74.533069
France          74.460776
Germany         74.550599
India           74.461938
Indonesia       74.604501
Italy           74.565339
Japan           74.416866
Mexico          74.509848
Nigeria         74.457166
Russia          74.491571
Saudi Arabia    74.604349
South Africa    74.461773
South Korea     74.455838
Turkey          74.457858
UK              74.465987
USA             74.506540
Name: Recovery Rate (%), dtype: float64

#**Enfermedad más y menos mortal por país**

In [123]:
for country in df["Country"].unique():
    subset = df[df["Country"] == country]
    max_row = subset.loc[subset["Mortality Rate (%)"].idxmax()]
    min_row = subset.loc[subset["Mortality Rate (%)"].idxmin()]

    print(f"\n {country}")
    print(f"  Más mortal: {max_row['Disease Name']} ({max_row['Mortality Rate (%)']}%)")
    print(f"  Menos mortal: {min_row['Disease Name']} ({min_row['Mortality Rate (%)']}%)")

 Italy
  Más mortal: Cancer (10.0%)
  Menos mortal: Parkinson's Disease (0.1%)

 France
  Más mortal: Leprosy (10.0%)
  Menos mortal: Cholera (0.1%)

 Turkey
  Más mortal: Ebola (10.0%)
  Menos mortal: Tuberculosis (0.1%)

 Indonesia
  Más mortal: Asthma (10.0%)
  Menos mortal: Influenza (0.1%)

 Saudi Arabia
  Más mortal: Cancer (10.0%)
  Menos mortal: Asthma (0.1%)

 USA
  Más mortal: Zika (10.0%)
  Menos mortal: HIV/AIDS (0.1%)

 Nigeria
  Más mortal: Leprosy (10.0%)
  Menos mortal: Influenza (0.1%)

 Australia
  Más mortal: Hypertension (10.0%)
  Menos mortal: Hepatitis (0.1%)

 Canada
  Más mortal: HIV/AIDS (10.0%)
  Menos mortal: COVID-19 (0.1%)

 Mexico
  Más mortal: Cancer (10.0%)
  Menos mortal: Alzheimer's Disease (0.1%)

 China
  Más mortal: COVID-19 (10.0%)
  Menos mortal: Asthma (0.1%)

 South Africa
  Más mortal: Dengue (10.0%)
  Menos mortal: Polio (0.1%)

 Japan
  Más mortal: Malaria (10.0%)
  Menos mortal: Malaria (0.1%)

 UK
  Más mortal: Ebola (10.0%)
  Menos mortal: Rabies (0.1%)

 Russia
  Más mortal: Dengue (10.0%)
  Menos mortal: Asthma (0.1%)

 Brazil
  Más mortal: Rabies (10.0%)
  Menos mortal: Polio (0.1%)

 Germany
  Más mortal: Cancer (10.0%)
  Menos mortal: Parkinson's Disease (0.1%)

 India
  Más mortal: Parkinson's Disease (10.0%)
  Menos mortal: HIV/AIDS (0.1%)

 Argentina
  Más mortal: Zika (10.0%)
  Menos mortal: HIV/AIDS (0.1%)

 South Korea
  Más mortal: Dengue (10.0%)
  Menos mortal: Malaria (0.1%)

#**Enfermedad más común por continente**

In [152]:
enfermedad_continente = df.groupby(["Continente", "Disease Name"])["Population Affected"].sum().reset_index()

print("Enfermedad más común por continente:\n")
for continent in enfermedad_continente["Continente"].unique():
    subset = enfermedad_continente[enfermedad_continente["Continente"] == continent]
    top = subset.loc[subset["Population Affected"].idxmax()]
    print(f"{continent}: {top['Disease Name']} ({top['Population Affected']:,} personas)")

Enfermedad más común por continente:

América: Zika (6,361,801,871 personas)
Asia: HIV/AIDS (10,144,780,099 personas)
Europa: Rabies (5,135,310,720 personas)
Oceanía: Hepatitis (1,293,990,565 personas)
África: Polio (2,575,989,103 personas)

##**OBJETIVO Y CONCLUSIONES - BREVE RESUMEN PARA PRESENTACIÓN**

Este conjunto de datos ofrece estadísticas completas sobre la salud global, con un enfoque en diversas enfermedades, tratamientos y resultados. Los datos abarcan múltiples países (20) y desde el año 2000 al 2024. Me gustaría hacer un análisis de estos datos para ver tipos de enfermedades por país y región del mundo y por sexo, teniendo también en cuenta el acceso a la Sanidad en cada uno de los países, dónde viven, y también hacer una comparativa por continentes.

Este dataset me ha desconcertado en varias ocasiones arrojando resultados que no me parecen correctos, he revisado el origen de los datos y aunque teóricamente se han basado en estadísticas de  prevalencias de enfermedades en el mundo, algunos de los datos son sintéticos, por lo que es normal que los resultados sean un poco extraños en ocasiones, incluso imposibles.

Tras los análisis realizados se ha llegado a las siguientes conclusiones:

*   **Enfermedad con más población afectada** en estos 24 años de estudio es el **ZIKA 25,307,554,082 personas**
*   **Enfermedad con más casos por país**, aquí me ha llamado la atención que en **Italia , Turquía y Canadá la enfermedad con más casos sea Ébola y que en UK la enfermedad con más casos sea Zika**
*   **Enfermedad más común por cantidad de Población Afectada** me llama la atención que en USA en los años 2021 y 2024 la enfermedad con más enfermos fue la **lepra**, que es imposible. También extraña que en South Korea la enfermedad con más gente afectada fuera **polio**, lo cual es bastante improbable.
*  **Enfermedades por género más comunes** fueron:
      
      *    **Female: Zika** (8,448,262,662 personas)

      *   **Other: HIV/AIDS**(8,444,815,364 personas)

      *   **Male: Leprosy**(8,532,327,840 personas)
  

  Me sorprende mucho que la lepra sea la enfermedad más común en hombres así que voy a analizar más la incidencia de esta enfermedad y dónde es más habitual, así que saco valores de la lepra por porcentaje de prevalencia , porcentaje de urbanización e índice de educación. Obtengo los siguientes valores:
![image.png]()

Aquí obtengo valores muy extraños de incidencia de la lepra.

*   **Mortalidad por país por rango de edad** veo valores que tampoco me parecen reales. Por ejemplo mirando los valores en Argentina obtengo lo siguiente:
Enfermedad más común por rango de edad en Argentina:

Edad 61+: Measles (999,962 personas)
Edad 0-18: Asthma (1,000,000 personas)
Edad 19-35: Cholera (999,995 personas)
Edad 36-60: Diabetes (999,775 personas)

Me sorprende que la enfermedad más común en el rango de 19-35 años sea el cólera.

*   **Tasa de mortalidad por país** que obtengo es la siguiente:
Enfermedades con mayor tasa de mortalidad por país:




    *   Argentina: Diabetes (5.127741670094611%)
    *   Australia: HIV/AIDS (5.138639618138425%)
    *   Brazil: COVID-19 (5.179767061708214%)
    *   Canada: Rabies (5.151473895582329%)
    *   China: Asthma (5.184743019020639%)
    *   France: Parkinson's Disease (5.1708602150537635%)
    *   Germany: Asthma (5.188142119888845%)
    *   India: Leprosy (5.2024929859719435%)
    *   Indonesia: Parkinson's Disease (5.152597077244258%)
    *   Italy: Alzheimer's Disease (5.204165998396151%)
    *   Japan: Hepatitis (5.155308896210873%)
    *   Mexico: Tuberculosis (5.166148538961039%)
    *   Nigeria: COVID-19 (5.220434439178515%)
    *   Russia: Cancer (5.163564705882353%)
    *   Saudi Arabia: Asthma (5.141629802095459%)
    *   South Africa: Zika (5.097000400480576%)
    *  South Korea: Parkinson's Disease (5.164582329317269%)
    *   Turkey: Zika (5.157434959349594%)
    *   UK: Measles (5.190866471326915%)
    *   USA: Rabies (5.126278225806452%)

Me sorprende mucho que Canadá, por ejemplo, tenga una tasa de mortalidad por rabia del 5,15%.


*  **Porcentaje promedio de recuperación por país** es muy similiar en todos, en torno al 74%.

*   **Enfermedad más y menos mortal por país**:
Me llaman la atención algunos valores como:
France
  Más mortal: Leprosy (10.0%)
  Menos mortal: Cholera (0.1%)

 Turkey
  Más mortal: Ebola (10.0%)
  Menos mortal: Tuberculosis (0.1%)

 USA
  Más mortal: Zika (10.0%)
  Menos mortal: HIV/AIDS (0.1%)

  No creo que en Francia la enfermedad más mortal sea la lepra o que en Turquía sea el Ébola o en USA el Zika.

*   **Enfermedad con más afectados por continente**: Obtengo los siguientes valores:
Enfermedad más común por continente:

    *   América :  Zika (6,361,801,871 personas)
    *   Asia: HIV/AIDS (10,144,780,099 personas)
    *   Oceanía: Hepatitis (1,293,990,565 personas)
    *   Europa: Rabies (5,135,310,720 personas)
    *   África: Polio (2,575,989,103 personas)

Aquí igualmente no me cuadra que en Asia la enfermedad más común sea HIV o que en Europa sea la rabia.

En definitiva, aunque este dataset parecía muy completo, interesante y traía un montón de información para poder comparar países en función de muchas variables, el hecho de que haya muchos datos sintéticos ha distorsionado por completo los resultados y por tanto no se puede sacar ninguna conclusión coherente de ellos.